@(bus : models.dto.BusStoryDTO)
@scripts = {
    <script type="text/javascript">
     
    var latlong = new Array();            
	 function initialize() {
	  var mapOptions = {
	    zoom: 14,
	    center: new google.maps.LatLng(@bus.buslat, @bus.busLong),
	    mapTypeId: google.maps.MapTypeId.MAP
	  };
	
	    var map = new google.maps.Map(document.getElementById('map-canvas'),
	      mapOptions);
	    
	    
	    //Set the latitude and longitude for the buses    	      	    						   
	    	//Bus Locations
	    	var markerLatLng = new google.maps.LatLng(@bus.buslat, @bus.busLong);
		    var marker = new google.maps.Marker({
		    position: markerLatLng , 
		    map: map, 
		    icon: "https://s3.amazonaws.com/sergmorTest/bus.png"
		    //title: @bus.busId
		   });   
		 
			@for(landmark <- bus.landmarks){					    				    	
				//Landmark Locations
		    	var markerLatLng2 = new google.maps.LatLng(@landmark.placelat,@landmark.placelng);
			    var marker = new google.maps.Marker({
			    position: markerLatLng2 , 
			    map: map,
			    icon: "https://s3.amazonaws.com/sergmorTest/marker.png"			    
		  	 });
			    var name = '@landmark.name';
				var infowindow = new google.maps.InfoWindow({
			        content: name
	   	        });
				makeInfoWindowEvent(map, infowindow, marker);			     		    
	    	} 	   	   
	}	
	 
	function makeInfoWindowEvent(map, infowindow, marker) {
		 google.maps.event.addListener(marker, 'click', function() {
		    infowindow.open(map, marker);
		  });
	} 
	
	google.maps.event.addDomListener(window, 'load', initialize);	       
	</script>
}

@main("BusTeller") {
<!DOCTYPE html>
<html>
  <head>
    <!--<meta name="viewport" content="initial-scale=1.0, user-scalable=no">-->
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>
      busVoice
    </title>
      
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
    rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800 <http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800>"
    rel="stylesheet" type="text/css">
      

    <style>
      
      html{
		  background: url(https://s3.amazonaws.com/sergmorTest/background.jpg) no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
      }
      html, body{
        height: 85%;
        margin-top: 30px;
        margin-left: 100px;
        width: 550px;
        padding: 0px;
      }
      #map-canvas{
      height: 85%;}
      
    </style>
    <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&amp;sensor=false"></script>
   	@scripts    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">busTales</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <div id="map-canvas"></div>

        <table class="table table-striped" style="margin: 35px;">
           <tbody>	              	
                <tr>
	               	<div class="panel panel-default">
  						<div class="panel-heading">
					    	<b class="panel-title" style="font-family:'Dosis'; color: #000000">@bus.busId</b>
				  		</div>
				  		<div class="panel-body" style="font-family: Dosis; font-style: normal">
				  		@for(landmark <- bus.landmarks){
					  		<p>
					  			<b>@landmark.name</b>
					  		</p>
					  		<p>
					  			@landmark.story
					  		</p>
					  		<p>
					  		</p>
				  		}				  							    	
				  		</div>
					</div>               				
                </tr>
           </tbody>
        </table>                

  </body>
</html>
}