@(buses : List[models.dto.BusStoryDTO])
@scripts = {
    <script type="text/javascript">
     
    var latlong = new Array();            
	 function initialize() {
	  var mapOptions = {
	    zoom: 11,
	    center: new google.maps.LatLng(40.78828, -73.981178),
	    mapTypeId: google.maps.MapTypeId.MAP
	  };
	
	    var map = new google.maps.Map(document.getElementById('map-canvas'),
	      mapOptions);
	    
	    
	    //Set the latitude and longitude for the buses    	      
	    @for(bus <- buses){						
		    
	    	//Bus Locations
	    	var markerLatLng = new google.maps.LatLng(@bus.buslat,@bus.busLong);
		    var marker = new google.maps.Marker({
		    position: markerLatLng , 
		    map: map, 
		    icon: "https://s3.amazonaws.com/sergmorTest/bus.png",
		    title: @bus.busId
		   });   
		  
			/*@for(landmark <- bus.landmarks){					    				    	
				//Landmark Locations
		    	var markerLatLng2 = new google.maps.LatLng(@landmark.placelat,@landmark.placelng);
			    var marker = new google.maps.Marker({
			    position: markerLatLng2 , 
			    map: map,
			    icon: "https://s3.amazonaws.com/sergmorTest/marker.png",
			    title: @landmark.name
			   });
		    }  */  	
	    }	    
	}
	
	function decodeLevels(encodedLevelsString) 
	{
	    var decodedLevels = [];
	    for (var i = 0; i < encodedLevelsString.length; ++i) {
	        var level = encodedLevelsString.charCodeAt(i) - 63;
	        decodedLevels.push(level);
	    }
	    return decodedLevels;
	}
	        
	google.maps.event.addDomListener(window, 'load', initialize);	       
	</script>
}

@main("BusTeller") {
<!DOCTYPE html>
<html>
  <head>
    <!--<meta name="viewport" content="initial-scale=1.0, user-scalable=no">-->
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>
      busTales
    </title>
      
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
    rel="stylesheet">
      

    <style>
      html, body, #map-canvas {
        height: 85%;
        margin: 50px;
        width: 600px;
        padding: 0px
      }
    </style>
    <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&amp;sensor=false"></script>
   	@scripts    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">busVoice</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="">Home</a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <div id="map-canvas"></div>
    <div class="container">
        <table class="table table-striped">
           <thead>
              <tr>
                <th>story</th>
              </tr>
            </thead>
           <tbody>	              	
                <tr>
                	@for(bus <- buses){	                	
                     <td> 
                    	<div class="box">   
                    		<!-- <marquee behavior="scroll" direction="up"> </marquee>-->                           
                            <textarea id="t1" name="b1"; top: 595px; "cols="50" rows="8"></textarea>
                        </div>
                    </td>
                    }					
                </tr>
           </tbody>
        </table>                
    </div>
  </body>
</html>
}